middleware/testi.txt
middleware/.firebaserc
middleware/firebase.json
middleware/ui-debug.log
.gitignore
middleware/functions/.eslintrc.js
middleware/functions/ui-debug.log
middleware/public/index.html
middleware/functions/package-lock.json
middleware/functions/package.json
middleware/functions/index.js
middleware/functions/.env
